.form-data {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(37, 34, 34);
  background-color: white;
  margin: 5px;
}

.form-data input {
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(37, 34, 34);
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
}

.form-send input {
  background-color: hsla(167, 37%, 79%, 0.425);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 1s ease;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  display: block;
  align-items: center;
  margin: auto;
}

.form-send input:hover {
  background-color: rgb(104, 176, 218);
  color: white;
}

.FormContact {
  height: 40vh;
}
