.container {
  margin: 0;
  padding: 0;
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, #05abe0 0%,#53cbf1 20%,#60f2bc 100%);
  border-top-left-radius: 150px 100px;
  border-bottom-right-radius: 150px 100px;
}

.all {
  text-align: center;
}

.echelle {
  width: 90%;
  height: 300px;
  padding: 20px;
  font-family: arial;
  max-width: 650px;
  margin-bottom: -4cm;
}

.Note {
  width: 80%;
  height: 20px;
  background: linear-gradient(to right, #3eea17 0%,#fcf119 25%,#f29018 75%,#cf0404 100%);
  border-radius: 10px;
  float: left;
  overflow: hidden;
  margin-left: 1cm;
  border: solid black;
}

.cursor {
  width: 5px;
  height: 100%;
  background-color: black;
  margin-left: 90%;
}