.AutoCompleteApi [type = text]{
    margin-top: 10%;
    margin-left: 36%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid black ;
    font-size: 100%;
    border-radius: 5px;
    
}

.AutoCompleteApi input  {
    width: 30%;
    height: auto;
    color: black;
}

.AutoCompleteApi ul {
    list-style-type: none;
    text-align: center;
}
