.round-button {
  display: inline-block;
  position: absolute;
  z-index: 1;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  padding: 0;
  outline: 0;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform .2s;
  margin: 10cm;
  margin-left: 7cm;
border: solid black;
}
.round-button::after,
.round-button::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 40%;
  bottom: 15%;
  left: 40%;
  background-color: #333;
  border-radius: 10px;
  transition: transform .25s;
  will-change: transform;
;

}
.round-button::before {
  top: 40%;
  right: 15%;
  bottom: 40%;
  left: 15%;
  }
/* opened nav button */
.round-button:focus,
.round-button:focus::before {
  transform: rotate(90deg) translateZ(0);
}


