.DataFetch-but {
    display: flex;
    margin-top: 4%;
    margin-left: 45%;

  }
  
  button{
  
    background-color: black;
    color: whitesmoke;
    font-weight: 900;
    font-size: 15px;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 6s;
    transition-timing-function: ease;
  
  }
 
  


