.DataFetch-but {
  background-color: hsl(0, 0%, 100%);
  color: hsla(0, 0%, 0%, 0.541);
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 1s ease;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  display: block;
  align-items: center;
  margin: auto;
  border: none;
}

.DataFetch-but:hover {
  background-color: rgb(104, 176, 218);
  color: white;
}
