

.row {
    position: absolute;
    bottom: 0;
    background-color: black;
    display: flex;
    border-top: 2px solid rgba(255, 7, 7, 0.884);
    color: white;
    width: 100%;
  }
  
  .outils-right {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: 1000;
    align-items: center;
    
  }
  
  .outils-left {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    font-weight: 1000;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .outils-left ul{
    position: relative;
    top: 20%;
  }

  