    
.container {
  height: 700px;
background: linear-gradient(to right, #05abe0 0%,#53cbf1 20%,#60f2bc 100%);
  border-top-left-radius: 150px 100px;
  border-bottom-right-radius: 150px 100px;
  margin-left: -7px;
  margin-right: -7px;
margin-top: 2cm;
display: block;
}


.echelle {
  width: 90%;
  height: 300px;
  padding: 20px;
  font-family: arial;
  max-width: 650px;
  margin-bottom: -5cm;
}




.Note {
  width: 80%;
  height: 20px;
  background: white;
  border-radius: 10px;
  float: left;
  overflow: hidden;
margin-left: 1cm;
}

.progress {
  float: left;
  width: 16%;
  height: 20px;
background: green;
  
}

/*.echelle {
  width: 100%;
  height: 30px;
  font-family: arial;
  margin-left: 2cm;


}


.Note{
  width: 90%;
  height: 20px;
  background: white;
  border-radius:10px;
  margin-left: 1cm;
}

.progress {
  width: 16%;
  height: 20px;
  background: green;
  z-index: 333;


}*/
